
.section-banner {
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 2;

    .logo-banner {
        margin: 0 auto;
        background-color: rgba(51, 59, 80, 1);

        .logo-wrapper {
            text-align: center;

            .logo {
                object-fit: cover;
            }
        }

        .banner-content {
            text-align: center;
        }

        .action-wrapper {
            text-align: center;
        }
    }
}

@media only screen and (min-width: mdc-layout-grid-breakpoint-min('desktop')) {
    /* Styles for desktop only */
    .section-banner {

        &.cv-banner {
            top: 780px;
        }

        .logo-banner {
            width: 740px;
            padding: 50px;

            .logo-wrapper {

                .logo {
                    width: 176px;
                    height: 176px;
                }
            }

            .banner-content { 
                padding: 50px 110px;
            }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: mdc-layout-grid-breakpoint-max('tablet')) {
    /* Styles for tablet only */
    .section-banner {

        &.cv-banner {
            top: 740px;
        }

        .logo-banner {
            width: 500px;
            padding: 30px;

            .logo-wrapper {

                .logo {
                    width: 125px;
                    height: 125px;
                }
            }

            .banner-content { 
                padding: 40px 48px;
            }
        }
    }
}

@media only screen and (max-width: 599px) {
    /* Styles for mobile only */
    .section-banner {

        &.cv-banner {
            top: 730px;
        }

        .logo-banner {
            width: 100%;
            padding: 30px 0;

            .logo-wrapper {

                .logo {
                    width: 110px;
                    height: 110px;
                }
            }

            .banner-content { 
                padding: 20px;
            }
        }
    }
}
