.section {
    position: relative;

    .parallax-inner {
        height: inherit;
    }

    .section-wrapper {
        height: inherit;
        display: flex;
        justify-content: center;
        align-content: center;

        .section-content {
            width: 100%;
            text-align: center;

            .text-wrapper {
                display: inline-block;
                text-align: start;
            }
        }
    }
}

.hero-section {
    position: relative;

    &::before {
        opacity: 0.3;
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url('/images/alessandro_staffolani.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .section-content {
        margin: 230px auto 0 auto;
    }
}

.professional-section {
    position: relative;

    &::before {
        opacity: 0.3;
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url('/images/alessandro_staffolani_workdesk.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .section-content {
        margin: 430px auto 0 auto;
    }
}

@media only screen and (min-width: mdc-layout-grid-breakpoint-min('desktop')) {
    /* Styles for desktop only */
    .hero-section {
        height: 120vh;
        max-height: $section-one-max-height;
    }

    .professional-section {
        height: 160vh;
        max-height: 1388px;
    }
}

@media only screen and (min-width: 600px) and (max-width: mdc-layout-grid-breakpoint-max('tablet')) {
    /* Styles for tablet only */
    .hero-section {
        height: 100vh;
        max-height: $section-one-max-height;
    }

    .professional-section {
        height: 160vh;
        max-height: 1388px;
    }
}

@media only screen and (max-width: 599px) {
    /* Styles for mobile only */
    .hero-section {
        height: 100vh;
        max-height: $section-one-max-height;
    }
}
