.skill-wrapper {
    display: flex;
    align-items: center;

    .skill-name {
        text-align: right;
    }

    .skill-value {
        position: relative;

        .progress-bar {
            width: auto;
            height: 12px;

            &.empty {
                .bar {
                    width: 0 !important;
                    .skill-percentage {
                        opacity: 0;
                    }
                }
            }

            .bar {
                transition: width 1.8s cubic-bezier(0.9, 0.13, 0.28, 0.76);
                -webkit-transition: width 1.8s cubic-bezier(0.9, 0.13, 0.28, 0.76);
                -moz-transition: width 1.8s cubic-bezier(0.9, 0.13, 0.28, 0.76);
                -o-transition: width 1.8s cubic-bezier(0.9, 0.13, 0.28, 0.76);
                background-color: $primary;
                height: 100%;

                .skill-percentage {
                    transition: opacity 2s cubic-bezier(0.9, 0.13, 0.28, 0.76);
                    opacity: 1;
                    text-align: right;
                }
            }
        }
    }
}

@media only screen and (min-width: mdc-layout-grid-breakpoint-min('desktop')) {
    /* Styles for desktop only */
    .skill-wrapper {
        margin: 30px auto;

        .skill-name {
            width: 15%;
        }

        .skill-value {
            width: 88%;
            padding: 0 25px;

            .progress-bar {
                max-width: 90%;

                .bar {
                    .skill-percentage {
                        margin-right: -55px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: mdc-layout-grid-breakpoint-max('tablet')) {
    /* Styles for tablet only */
    .skill-wrapper {
        margin: 20px auto;

        .skill-name {
            width: 20%;
        }

        .skill-value {
            width: 80%;
            padding: 0 25px;

            .progress-bar {
                .bar {
                    .skill-percentage {
                        margin-right: -45px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 599px) {
    /* Styles for mobile only */
    .skill-wrapper {
        margin: 20px auto;

        .skill-name {
            width: 25%;
        }

        .skill-value {
            width: 75%;
            padding: 0 35px;

            .progress-bar {
                .bar {
                    .skill-percentage {
                        margin-right: -40px;
                    }
                }
            }
        }
    }
}
