.experience-timeline-container {
    margin-top: 90px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

    &::after {
        content: '';
        position: absolute;
        width: 2px;
        background-color: $primary;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }

    .container {
        padding: 0 40px;
        position: relative;
        background-color: inherit;
        width: 39%;

        &::after {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            right: -8px;
            background-color: $primary;
            top: 0;
            border-radius: 50%;
            z-index: 1;
        }

        /* Place the container to the left */
        &.left {
            left: 0;
        }

        /* Place the container to the right */
        &.right {
            left: 50%;
        }

        /* Add arrows to the left container (pointing right) */
        &.left::before {
            content: ' ';
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            right: 30px;
            border: medium solid white;
            border-width: 10px 0 10px 10px;
            border-color: transparent transparent transparent white;
        }

        /* Add arrows to the right container (pointing left) */
        &.right::before {
            content: ' ';
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            left: 30px;
            border: medium solid white;
            border-width: 10px 10px 10px 0;
            border-color: transparent white transparent transparent;
        }

        /* Fix the circle for containers on the right side */
        &.right::after {
            left: -10px;
        }

        /* The actual content */
        .content {
            padding: 20px 30px;
            background-color: white;
            position: relative;
            border-radius: 6px;
        }
    }
}
